@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";
@font-face {
  font-family: 'Postbill';
  src: url('/fonts/PostNoBillsJaffna-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 
.inter-base {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.test-font{
  font-family: "Postbill", sans-serif;
   font-optical-sizing: auto;
    font-weight: 800;
  font-style: normal;


}